<nav>
    <a routerLink="/home" routerLinkActive="active">
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      Menu
    </a>
    <a routerLink="/blogs" routerLinkActive="active">
      <mat-icon aria-hidden="false" aria-label="Example home icon">auto_awesome</mat-icon>
      Commentaires
    </a>
    <a routerLink="/devices" routerLinkActive="active">
      <mat-icon aria-hidden="false" aria-label="Example home icon">computer</mat-icon>
      les maitrises
    </a>
  </nav>
  
  <div id="content">
    <router-outlet></router-outlet>
  </div>