h1 {
    color: #4cc8ee;
    margin-top:20%;
}

div { 
    width:fit-content;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border-radius: 20%;
    margin-top: 0%;
    margin-bottom: 10%;
}

:host{
    display:grid;
    place-items: center;
}


body{ 
    padding: 0;
    margin: auto;
    height: 100vh;
}