<div class="flex">
  <div class="container">
    <li class="list-group-item w-100">
      <div class="card" [ngStyle]="{'background-color': color()}">
        <div class="card-body">
            <div class="flex">
                <h5 class="card-title">{{post.title}}</h5>
                <span class="ml-a">{{post.created_at | date:'short'}}</span>
            </div>
          
          ♡<h6 class="card-subtitle mb-2">{{post.lovesIts}}</h6>
          <p class="card-text">{{post.content}}</p>
          <button class="btn button-confirm" (click)="loveIt()">Je confirme </button>
          <button class="btn button-cancel float-r" (click)="hateIt()">Je ne confirme pas</button>
        </div>
      </div>
    </li>
    
    <!-- <canvas #canvas [width]="WIDTH" [height]="HEIGHT"></canvas> -->
  </div>
</div>