button + button {
    margin-left: 1rem;
    border-radius: 80px;
}

h5{
    color: white;
    size: 10rem;
}

h6{
    color: white;
    size: 10rem;
}

span{
    color: white;
}

p{
    color: white;
}

.button-confirm{
    background-color:#12ac9c ;
    color:white;
    border-radius: 80px;
}

.button-cancel{
    background-color: #f1655b ;
    color: white;
    border-radius: 80px;

}

.wrapper-item{
    border-radius: 10%;
    margin-bottom: 20px;
    
}